@model IEnumerable<FiDa.Models.FileUpload>
@{
	ViewData["Title"] = "pCloud";
}

<div class="p-4">
	<div class="pb-4 flex justify-between">
		<div class="flex justify-center space-x-2">
			<span class="text-5xl font-semibold">pCloud</span>
			<a class="hover:bg-gray-800 p-2 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm text-center dark:hover:bg-gray-700 dark:focus:ring-gray-800" id="sync" href="@Url.Action("SyncRepo","pcloud")">
				<svg fill="currentColor" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
					 viewBox="0 0 32 32" xml:space="preserve" class="text-white" width="2rem" height="2rem">
				<path d="M30,16c0,3.279-2.631,5.939-5.896,5.995l-0.629-0.001C23.22,25.905,19.975,29,16,29
							c-2.464,0-4.634-1.201-6-3.036V27.5c0,0.276-0.224,0.5-0.5,0.5S9,27.776,9,27.5V24h3.5c0.276,0,0.5,0.224,0.5,0.5S12.776,25,12.5,25
							h-1.955c1.157,1.798,3.162,3,5.455,3c3.418,0,6.222-2.653,6.475-6.008L9.528,21.974C9.515,21.817,9.5,21.66,9.5,21.5
							c0-3.584,2.916-6.5,6.5-6.5c2.292,0,4.298,1.202,5.454,3H19.5c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5H23v-3.5
							c0-0.276-0.224-0.5-0.5-0.5S22,15.224,22,15.5v1.528C20.634,15.195,18.462,14,16,14c-4.142,0-7.5,3.358-7.5,7.5
							c0,0.16,0.01,0.316,0.022,0.473l-0.061,0C4.848,21.697,2,18.684,2,15c0-3.613,2.738-6.585,6.252-6.959C9.127,4.572,12.259,2,16,2
							c4.418,0,8,3.582,8,8C27.314,10,30,12.686,30,16z" />
					</svg>
			</a>
		</div>
		<img src="~/Public/pCloud.jpg" alt="pCloud" width="50" height="50" />
	</div>
	<hr class="bg-slate-600 rounded-full h-2" />

	<div class="relative overflow-x-auto py-4">
		<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
			<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
				<tr>
					<th scope="col" class="px-6 py-3">
						Filename
					</th>
					<th scope="col" class="px-6 py-3">
						Size
					</th>
					<th scope="col" class="px-6 py-3">
						Host
					</th>
					<th scope="col" class="px-6 py-3">
						Modified
					</th>
					<th scope="col" class="px-6 py-3">
						Uploaded
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var file in Model)
				{
					<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
						<td class="px-6 py-4">@Html.DisplayFor(modelitem => file.FileName)</td>
						<td class="px-6 py-4">@Html.DisplayFor(modelitem => file.Size)</td>
						<td class="px-6 py-4 max-w-4">@Html.DisplayFor(modelitem => file.Host)</td>
						<td class="px-6 py-4 max-w-4">@Html.DisplayFor(modelitem => file.ModificationDate)</td>
						<td class="px-6 py-4 max-w-4">@Html.DisplayFor(modelitem => file.CreatedDate)</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="py-4">
		<!-- Modal toggle -->
		<button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				type="button" id="toggle-modal-button" name="toggle-modal-button">
			Upload a file!
		</button>
	</div>

	<!-- Main modal -->
	<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
		 class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
		 style="display: none;">
		<div class="m-auto p-4 w-full max-w-2xl max-h-full">
			<!-- Modal content -->
			<div id="modal-content" name="modal-content" class="relative bg-white rounded-lg shadow dark:bg-gray-700 antialiased"></div>
		</div>
	</div>

	<script type="text/javascript">
		/*
		["toggle-modal-button", "close-modal-button", "cancel-upload-button"].forEach((id) => {
		document.getElementById(id).addEventListener("click", () => {
		const classes = document.getElementById("static-modal").classList;
		classes.contains("hidden")
		? classes.remove(classes.remove("hidden"))
		: classes.add("hidden");
		})
		})*/
		$(document).ready(function() {
			$("#toggle-modal-button").click(function() {
				$.ajax({
					type: "POST",
					url: "/pcloud/UploadFile",
					contentType: "application/json; charset=utf-8",
					data: null,
					datatype: "json",
					success: function(data) {
						$('#modal-content').html(data);
						//$('#static-modal').modal({ "backdrop": "static", keyboard: true });
						$('#static-modal').show();

					},
					error: function() {
						alert("Dynamic content load failed.");
					}
				});
			});
			//$("#closebtn").on('click',function(){
			//    $('#myModal').modal('hide');

			$("#close-modal-button").click(function() {
				$('#static-modal').modal('hide');
			});
		});
	</script>

</div>
